  


{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Little Math Helper &#129488;</h1>
  </div>

  <form method="post" action="/trapezoid">
    <h4>Trapezoid Area</h4>
    Top<input type="text" name="trapezoidTop">
    Bottom<input type="text" name="trapezoidBottom">
    Height<input type="text" name="trapezoidHeight">
    <br/>
    <h5>{{state['trapezoidArea']}}</h5>
    <input type="submit" class="btn btn-lg btn-danger" value="Calculate">
  </form>
  
{% endblock %}
